html, body, #app, .main {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

h2 {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: #000;
}