/* Media queries */
@small: ~'only screen and (min-width: 576px)';
@medium: ~'only screen and (min-width: 768px)';
@large: ~'only screen and (min-width: 992px)';
@xlarge: ~'only screen and (min-width: 1200px)';
@xxlarge: ~'only screen and (min-width: 1600px)';

/* Colors */
@white: #fff;
@black: #000;
@grey: #B2B1B0;
@blue: #285062;
@dark_blue: #1d2a3a;
@orange: #d96d2d;
@yellow: #c5945c;
@olive: #A1C181;
@green: #619B8A;
@green-dark: #376d5c;

/* Fonts */
@thin: 300;
@regular: 400;
@bold: 700;

/* Sizes */
@headerWidth: 56px;
@formFieldMargin: 30px;
