.content-section {
    display: flex;
    flex-direction: column;
    background-color: @dark_blue;
    padding: 0 10px;

    &__title {
        font-size: 30px;
        font-weight: @bold;
        color: @orange;
        margin: 10px 0;
    }
}

@media @small {
    .content-section {
        padding: 0 20px;

        &__title {
            margin-top: 20px;
            margin-bottom: 14px;
        }
    }
}