.content-section {
    display: flex;
    flex-direction: column;
    background-color: @dark_blue;
    padding: 0 10px;

    &__title {
        font-size: 30px;
        font-weight: @bold;
        color: @orange;
        margin: 10px 0;
    }
}