.header {
    width: 100%;
    height: @headerWidth;
    display: flex;
    flex-shrink: 0;
    position: fixed;
    padding: 0 12px;
    background-color: @black;
    z-index: 20;

    &__menu-toggler {
        z-index: 6;
    }

    &__wrap {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
    }

    &__social {
        i {
            font-size: 22px;
            color: @yellow;
            transition: color .3s ease;
        }

        span {
            margin-right: 20px;
        }

        a:hover {
            i {
                color: @orange;
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__lang {
        position: relative;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: pointer;
        transition: color .3s ease;

        a, ul li {
            color: @yellow;
        }

        :hover {
            color: @orange;
        }
    }
}

@media @large {
    .header {
        width: @headerWidth;
        height: 100%;
        padding: 12px 0;

        &__wrap {
            flex-direction: column;
            justify-content: flex-start;
        }
    }
}

@media @xlarge {
    .header {
        width: 320px;
        padding: 30px;

        &__wrap {
            align-items: flex-start;
        }

        &__menu-toggler {
            display: none;
        }
    }
}
