.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 76px;
    padding-left: 42px;
    padding-bottom: 42px;
    transform: translateX(-100%);
    background-color: @black;
    transition: transform .3s ease;
    z-index: 5;

    &.is-active {
        transform: translateX(0);
    }
}

@media @small {
    .menu {
        max-width: 320px;
    }
}

@media @xlarge {
    .menu {
        display: none;
    }
}
