.projects {
    width: 100%;
    display: grid;
}

.project {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: @white;
    margin-bottom: 20px;
    overflow: hidden;
    animation-duration: .5s;
    will-change: transform;
    transition: transform .3s ease;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0);
        transition: background-color .3s ease;
        z-index: 4;
    }

    &__image {
        height: 200px;
        position: relative;
        box-shadow: inset 0 0 0 1px @grey;
        overflow: hidden;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.3);
            z-index: 2;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform .3s ease;
        }
    }

    &__tags {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 3;

        span {
            font-size: 14px;
            font-weight: @regular;
            color: @white;
            margin-right: 4px;
        }
    }

    &__title {
        padding: 10px;
        font-size: 18px;
        font-weight: @bold;
        color: @dark_blue;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 10;
        opacity: 0;
        pointer-events: none;
        transition: transform .5s ease, opacity .3s ease;

        .button {
            flex-grow: 1;

            &:nth-child(2) {
                margin-top: 8px;
            }
        }
    }

    &.is-active {
        animation-name: hover;
        transform: translateY(10px);

        &::before {
            background-color: rgba(0,0,0,0.5);
        }

        .project {
            &__buttons {
                opacity: 1;
                pointer-events: auto;
                transform: translate(-50%, -50%);
                transition: transform .5s ease, opacity .3s ease .2s;
            }
        }
    }
}

@media @small {
    .projects {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
    }

    .project {
        margin-bottom: 40px;
    }
}

@media @large {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

@keyframes hover {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(10px);
    }
}
